
FalppyFabian/.idea/workspace.xml

FlappyFabian/.idea/workspace.xml

FlappyFabian/.idea/compiler.xml

FlappyFabian/.idea/copyright/profiles_settings.xml

FlappyFabian/.idea/gradle.xml

FlappyFabian/.idea/misc.xml

FlappyFabian/local.properties

FlappyFabian/FlappyFabian.iml

FlappyFabian/.idea/runConfigurations.xml

FlappyFabian/.idea/modules.xml

*.bin

*.lock

*.class

*.so

*.jar

*.dex

*.apk

*.rawproto

*.iml

FlappyFabian/.idea/libraries/lwjgl_util_2_9_2.xml

FlappyFabian/android/build/intermediates/incremental/packageDebug/zip-cache/c4luwPKnVq0ok47+uKEwie_bxNo=

FlappyFabian/android/build/intermediates/incremental/packageDebug/zip-cache/4hLN10xvUYjUsMncgJ8wuVAjSnE=

FlappyFabian/android/build/intermediates/incremental/mergeDebugAssets/merger.xml

FlappyFabian/android/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml

FlappyFabian/android/build/intermediates/incremental/mergeDebugShaders/merger.xml

FlappyFabian/android/build/intermediates/incremental/packageDebug/dex-renamer-state.txt

FlappyFabian/android/build/intermediates/incremental/packageDebug/file-input-save-data.txt

FlappyFabian/build/intermediates/dex-cache/cache.xml

FlappyFabian/android/build/intermediates/incremental-safeguard/debug/tag.txt

FlappyFabian/.idea/libraries/lwjgl_platform_2_9_2_natives_windows.xml

FlappyFabian/.idea/libraries/lwjgl_platform_2_9_2_natives_osx.xml

FlappyFabian/.idea/libraries/lwjgl_platform_2_9_2_natives_linux.xml

FlappyFabian/.idea/libraries/lwjgl_2_9_2.xml

FlappyFabian/.idea/libraries/jutils_1_0_0.xml

FlappyFabian/.idea/libraries/jorbis_0_0_17.xml

FlappyFabian/.idea/libraries/jlayer_1_0_1_gdx.xml

FlappyFabian/.idea/libraries/jinput_platform_2_0_5_natives_windows.xml

FlappyFabian/.idea/libraries/jinput_platform_2_0_5_natives_osx.xml

FlappyFabian/.idea/libraries/gdx_1_9_6.xml

FlappyFabian/.idea/libraries/gdx_backend_android_1_9_6.xml

FlappyFabian/.idea/libraries/gdx_backend_lwjgl_1_9_6.xml

FlappyFabian/.idea/libraries/gdx_box2d_1_9_6.xml

FlappyFabian/.idea/libraries/gdx_box2d_platform_1_9_6_natives_desktop.xml

FlappyFabian/.idea/libraries/gdx_platform_1_9_6_natives_desktop.xml

FlappyFabian/.idea/libraries/jinput_2_0_5.xml

FlappyFabian/.idea/libraries/jinput_platform_2_0_5_natives_linux.xml

FlappyFabian/.idea/libraries/core_core_1_0.xml

FlappyFabian/.idea/*
